<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Livre Dont Vous Êtes le Héros</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png'  %}">
  <script src={% static 'js/jquery-3.2.1.min.js'  %}></script>
  <script src={% static 'js/rango-jquery.js' %}></script>
  
</head>

<body>

  <div class="container-fluid">

	<div class="top">
	{% block top %}
	{% endblock %}
	</div>
    <div class="milieu">
		<div class="milieu-gauche">
		{% block milieu-gauche %}
		{% endblock %}
		</div>
		<div class="milieu-centre">
		{% block milieu-centre %}
		{% endblock %}
		</div>
		<div class="milieu-droite">
		{% block milieu-droite %}
		{% endblock %}
		</div>
	</div>
	<div class="en-bas">
		{% block en-bas  %}
		{% endblock  %}
	</div>
  </div>
</body>
</html>
